.topo {
  position: relative;
  padding: 10px;
}

.topo h1 {
  text-align: center;
}

.salas {
  text-align: center;
  font-size: 20px;
}

#atividades-704 {
  background-color: #5d7c43;
  cursor: pointer;
  padding: 40px;
  margin-right: auto;
}

#atividades-705 {
  background-color: #5d7c43;
  cursor: pointer;
  padding: 40px;
  margin-left: auto;
}

#login {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 20px;
}

body {
  background-color: #dde9d4;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #79c096;
}
